body {
  padding-top: 50px;
}

nav.navbar-default {
  border: none;
  background-color: white;
}

nav.navbar-default div.navbar-collapse {
  border-bottom: 1px solid black;
}

div#photos {
  padding-top: 15px;
}

div#photos div.photo {
  width: 320px;
  margin-bottom: 15px;
}

footer {
  padding-top: 15px;
  border-top: 1px solid black;
}
